parameters:


database:
	dsn: 'mysql:host=localhost;dbname=azulgar'
	user: 'root'
	password: 'LC123456lc'
	options:
		lazy: yes

doctrine:
    user: root
    password:
    dbname: doctrine_devel
